<div class="wrap mod-client">
  <div class="row">
    <div class="grid-12">
    {{#if client}}
      <h1>Welcome, {{client}}</h1>
      {{#if products}}
        {{!-- <p>Your products:</p> --}}
        <ul>
          {{#each products}}
            <li><a href="#questions/{{product_id}}" data-map="{{map}}">{{product_name}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    {{else}}
      <p>Client not found</p>
    {{/if}}
    </div>
  </div>
</div>
