{{#if categories}}
  {{#each categories}}
    <div class="question-title">
      <div class="wrap">
        <div class="row">
          <div class="grid-12">
            <h2 class="title">{{name}}</h2>
          </div>
        </div>
      </div>
    </div>

    {{#each questions}}
      <article>
        {{#if questiontext}}
          <header>
            <div class="question-subtitle">
              <div class="wrap">
                <div class="row">
                  <div class="grid-12">
                    <h3 class="subtitle">{{questiontext}}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="question-intro">
              <div class="wrap">
                <div class="row">
                  <div class="grid-12">
                    <h4 class="target-title">Criteria</h4>
                    <ul>
                      {{#each criterias}}
                        <li><span class="key">{{key}}</span> {{value}}</li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </header>
        {{/if}}

        {{#each answers}}
          <div class="search-results">
            <section class="result">
              <div class="wrap">
                <div class="row">
                  <div class="grid-1">
                    <span class="index">{{answervalue}}</span>
                  </div>

                  <div class="grid-11">
                    <h4 class="target-title">{{targetname}}</h4>
                    {{#if answersourcedescription}}
                      <p><strong>Source:</strong> {{answersourcedescription}}</p>
                    {{/if}}
                    {{#if answercomments}}
                      <p><strong>Comments:</strong> {{answercomments}}</p>
                    {{/if}}
                  </div>
                </div>
              </div>
            </section>
          </div>
        {{/each}}

      </article>
    {{/each}}

  {{/each}}
{{else}}
  <div class="question-title">
    <div class="row">
      <div class="grid-12">
        <h2 class="title">No data</h2>
      </div>
    </div>
  </div>
{{/if}}
