{{#each items}}
  <section>
    <header>
      <div class="wrap">
        <div class="row">
          <div class="grid-12">
            <h1>{{text}}</h1>
          </div>
        </div>
      </div>
    </header>
    {{#each questions}}
      <article>
        <div class="mod-results-questions">
          <div class="wrap">
            <div class="row">
              <div class="grid-12">
                <h2>{{text}}</h2>
                <div class="mod-results-buttons">
                  {{#if map}}
                    <a target="_blank" href="#map/{{table}}/{{id}}">Map this Question</a>
                  {{/if}}
                  {{!-- <a href="#rank/{{../../table}}/{{id}}">Rank</a> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="row">
            <div class="grid-12">
              <ul class="mod-results-criterias is-hidden">
                  {{#each criterias}}
                    <li><span class="key">{{key}}</span> {{value}}</li>
                  {{/each}}
              </ul>
              {{#each answers}}
                <div class="mod-results-answers" data-id="{{id}}">
                  <h3>{{target}}</h3>
                  {{#if table}}
                    <div class="table-container">
                      {{{value}}}
                    </div>
                    {{else}}
                    <div class="value-container">
                      <span class="value">{{{value}}}</span>
                    </div>
                  {{/if}}
                  {{#if score}}
                    <p><strong>Score</strong>: {{score}}</p>
                  {{/if}}
                  {{#if sources}}
                    <p class="sources">
                      <strong>Sources</strong>: {{sources}}
                    </p>
                  {{/if}}
                  {{#if comments}}
                    <p class="comments">
                      <strong>Comments</strong>: {{comments}}
                    </p>
                  {{/if}}
                  {{#if notes}}
                    <p class="notes is-hidden"><strong>Notes</strong>:
                    {{#each notes}}
                      {{this}}
                    {{/each}}
                    </p>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </article>
    {{/each}}
  </section>
{{/each}}
