{{#each items}}
  <section>
    <header>
      <div class="wrap">
        <div class="row">
          <div class="grid-12">
            <h1>{{text}}</h1>
          </div>
        </div>
      </div>
    </header>
    {{#each answers}}
      <article>
        <div class="mod-results-questions">
          <div class="wrap">
            <div class="row">
              <div class="grid-12">
                <h2>{{text}}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="row">
            <div class="grid-12">
              <ul class="mod-results-criterias">
                {{#each criterias}}
                  <li><span class="key">{{key}}</span> {{value}}</li>
                {{/each}}
              </ul>
              <div class="mod-results-answers">
                <span class="value">{{value}}</span>
                <h3>{{target}}</h3>
                <p><strong>Score</strong>: {{score}}</p>
                <p><a href="#map/{{../../table}}/{{id}}">Map</a> · <a href="#rank/{{../../table}}/{{id}}">Rank</a></p>
              </div>
            </div>
          </div>
        </div>
      </article>
    {{/each}}
  </section>
{{/each}}
