{{#each items}}
  <section>
    <header>
      <div class="wrap">
        <div class="row">
          <div class="grid-12">
            <h1>{{text}}</h1>
          </div>
        </div>
      </div>
    </header>
    {{#each questions}}
      <article>
        <div class="mod-results-questions">
          <div class="wrap">
            <div class="row">
              <div class="grid-12">
                <h2>{{text}}</h2>
                <div class="mod-results-buttons">
                  {{#if map}}
                    <a target="_blank" href="#map/{{table}}/{{id}}">Map this Question</a>
                  {{/if}}
                  {{!-- <a href="#rank/{{../../table}}/{{id}}">Rank</a> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="row">
            <div class="grid-12">
              <ul class="mod-results-criterias is-hidden">
                  {{#each criterias}}
                    <li><span class="key">{{key}}</span> {{value}}</li>
                  {{/each}}
              </ul>
              {{#each answers}}
                <div class="mod-results-answers" data-id="{{id}}">
                  <span class="value">{{value}}</span>
                  <h3>{{target}}</h3>
                  <p><strong>Score</strong>: {{score}}</p>
                  {{#if sources}}
                    <p><strong>Sources</strong>: {{sources}}</p>
                  {{/if}}
                  {{#if comments}}
                    <p><strong>Comments</strong>: {{comments}}</p>
                  {{/if}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </article>
    {{/each}}
  </section>
{{/each}}
